*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:blanchedalmond;
}

body{
    padding: 20px;
    min-height: 100vh;
    background-color: aquamarine;
}

h1{
    color: red;
    font-style: italic;
    font-family: cursive;
    font-weight: bold;
}

h2{
    color: blue;
    font-style: italic;
    font-family: cursive;
    font-weight: bold;
}

p{
    color: black;
    font-size: x-large;
}

